<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Режиссёры сервиса</title>
<!--    <style>
    .not-enough-book {
      color: red;
    }

    footer {
        position: fixed;
    }
  </style>-->
</head>
<body>
<div layout:fragment="content">
    <h1>Все режиссёры</h1>
    <div class="row">
        <div class="col">
            <a href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссёра
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Позиция</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td th:text="${director.directorFio}"></td>
            <td th:text="${director.position}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
