<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Фильмы сервиса</title>
  <style>
    .not-enough-book {
      color: red;
    }
  </style>
  <script src="/static/js/add-director-to-film.js"></script>
</head>
<body>
<div layout:fragment="content">
  <h1>Все фильмы</h1>
  <div class="row">
    <div class="col">
      <a href="films/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить фильм
      </a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Режиссёр</th>
      <th scope="col">Страна</th>
      <th scope="col">Дата премьеры</th>
      <th scope="col">Жанр</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${films}">
      <td th:text="${film.getFilmTitle()}"></td>
      <td th:if="${film.directorDTO != null}" th:text="${film.directorDTO.directorFio}"></td>
      <td th:if="${film.directorDTO == null}">
        <div class="btn btn-primary add-director">Добавить режиссёра</div>
        <form style="max-width: 50vw, visibility: hidden" method="POST" th:action="@{/films/add-director}" th:object="${director}">
          <select class="form-select" name="directors" id="directors">
            <option selected>Выберите режиссёра:</option>
            <option th:each="director : ${allDirectors}"
                    th:value="${director.directorFio}" th:text="${director.directorFio}"></option>
          </select>
          <button type="submit">Добавить</button>
        </form>
      </td>
      <td th:text="${film.country}"></td>
      <td th:text="${film.getPremiereDate()}"></td>
      <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
